/* Add your CSS styles here */
*{
  background-color: darkblue;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    
  }
h2{
  border: 1px solid black;
  color: white;
  padding: 10px;
  background-color: blueviolet;
}
p{
  border: 1px solid black;
  color: white;
  padding: 10px;
  background-color: blueviolet;
}
  h1 {
    margin-bottom: 20px;
  }
  
  .search {
    margin-bottom: 20px;
  }
  
  input {
    padding: 5px;
    width: 200px;
  }
  
  button {
    padding: 5px 10px;
  }
  
  .user-info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .name {
    font-size: 20px;
    font-weight: bold;
  }
  